#App {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(
        to bottom left,
        hsl(55.92, 100%, 49.02%) 0%,
        hsla(55.58, 97.79%, 49.4%, 0.998) 7.9%,
        hsla(54.57, 93.49%, 50.48%, 0.992) 15.1%,
        hsla(52.82, 90.24%, 52.15%, 0.982) 21.5%,
        hsla(50.15, 85.69%, 54.31%, 0.97) 27.5%,
        hsla(46.18, 79.73%, 56.86%, 0.956) 33%,
        hsla(40.25, 72.21%, 59.69%, 0.94) 38.4%,
        hsla(31, 62.96%, 62.71%, 0.923) 43.6%,
        hsla(15.38, 51.76%, 65.81%, 0.906) 48.9%,
        hsla(347.94, 43.85%, 65.88%, 0.889) 54.4%,
        hsla(323.16, 43.45%, 61.59%, 0.872) 60.3%,
        hsla(304.43, 43.16%, 57.63%, 0.857) 66.7%,
        hsla(291.78, 53.41%, 57.27%, 0.844) 73.7%,
        hsla(285.24, 65.97%, 58.09%, 0.833) 81.5%,
        hsla(281.74, 75.45%, 58.69%, 0.824) 90.2%,
        hsla(280.12, 80.86%, 59.02%, 0.82) 100%
    );
}

#App .combos {
    display: flex;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}
